h1, h2, h3, h4{
	background-color: #303030;
	text-align: center;
}
body{
    background-color: #080808;
    color: white;
}
div{
    background-color: #303030;
    text-align: center;
}
a{
   text-decoration: none;
}
#banner{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p{
  text-align: center;
  background-color: #080808;
}
ul {
text-align: center;
}

li {
display: inline-block;
}
