h1, h2, h3, h4{
     background-color: #303030;
     text-align: center;
}
 body{
     background-image: faengari.jpg;
      background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
     color: white;
}
 div{
     background-color: #303030;
     text-align: center;
}
 a{
     text-decoration: none;
     font-size: 23pt;
     color: white;
}
 #banner{
     display: block;
     margin-left: auto;
     margin-right: auto;
     max-width: 100%;
     height: auto;
     min-width: 300px;
}
 p{
     text-align: center;
     background-color: #080808;
     font-size: 22pt 
}
 footer{
     text-align: center;
}
 .gear{
     max-width: 50%;
     height: auto;
     min-width: 300px;
     display: block;
     margin-left: auto;
     margin-right: auto;
}
.icon{
    height:24px;
    width:24px;
}
figcaption{
     background-color: white;
      color: black;
     text-align: center;
}
